@use "../settings" as var;

nav {
  .menu-deroulant {
    border-radius: 0 0 20px 20px;
    display: flex;
    justify-content: space-around;
    margin: 0 auto;
    text-align: center;
    color: white;
    background-color: black;
    font-size: 1.5rem;
    padding: 20px;
    width: 80%;
    height: 280px;
    transform: translateY(-300px);
    transition: transform 1s ease-out, opacity 2.5s ease-out;
    
    opacity: 0;
  }
  .titre {
    font-size: 2rem;
    padding-bottom: 30px;
    text-decoration: underline;
    text-decoration-color: var.$color;
  }
  #titre-important {
    text-decoration-color: red !important;
  }
  .menu-active{
    transform: translateY(0) !important;
    opacity: 1;

  }
}
